{% extends "parentTemplate.html" %}

{% block ticTacToeRelatedMaterial %}
  <code>{{ super() }}</code>

  Hello {{ message }}, from <code>nunjucks</code>!<br>
  We have {{ games | length }} games for you to play!

  <!-- This renders HTML in the macros.html file -->
  {% include "macros.html" %}

  <!-- This allows variables and macros to be accessed in this file. -->
  {% import "macros.html" as myMacros %}

  <form method="post" action="/">
    <button>New Game</button>
  </form>
  <ul>
  {% for desc in descs %}
    <li>
      <a href="/{{ desc.id }}">
        {{ myMacros.personalizedMessage(desc.game.humanFirst) }}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
